.home{
    width: 100%;
    height: 100%;
    overflow: scroll;
    
    .home-container{
        padding: 20px;

        .featured-info-section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }
}