
    
    .home{
        padding: 20px;

        .featured-info-section{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .members-and-transactions{
            display: flex;
        }
    }