.topbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
   

    .topbar-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 50px;
        .app-logo{
            cursor: pointer;
            color: rgb(89, 0, 255);
            width: 300px;
        }
        
        .topbar-actions{
            display: flex;
            align-items: center;

            .topbar-action-button{
                padding-inline: 10px;
                color: grey;
                cursor: pointer;
                display: flex;
                position: relative;

                .topbar-action-button-icon{
                    height: 35px;
                    width: 35px;
                }

                
                .badge{
                    text-align: center;
                    font-size: 15px;
                    position: absolute;
                    right: 10px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                }

            }
    
            .profile-image{
                padding-inline: 10px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    
    
   
}

