.new-members{
    border-radius: 10px;
    flex: 1;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--web-kit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);

    .new-members-container{
        padding: 20px;


        .title{
            padding-block: 20px;
        }

    }
}