.latest-transactions{
    height: 100%;
    border-radius: 10px;
    flex: 2;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--web-kit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
}