.latest-transactions{
    height: 100%;
    border-radius: 10px;
    flex: 2;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--web-kit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);

    .latest-transaction-container{
        padding: 20px;

        .title{
            padding-block: 20px;
        }



        .transactions-table{
            width: 100%;


            th{
                text-align:start;
                padding-block:20px
            }

            .data{
                // width: 100%;
                // display: flex;
                // align-items: center;
                // justify-content: space-between;

                // background-color: red;
                .customer{
                    display: flex;
                    align-items: center;
        
                    .customer-image{
                        margin: 10px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .status{
                    padding-inline: 20px;
                    padding-block: 10px;
                    border-radius: 10px;
                    // width: 100px;
                    background-color: rgba(0, 128, 0, 0.336);
                    text-align: center;

                }
            }
        }



    }
}