

.featured-info{
    width: 340px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--web-kit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);

    .featured-info-details{
        padding-block: 15px;
        display: flex;
        align-items: center;

        .statistics{
            display: flex;
            align-items: center;

            .indicator-icon-increase{
                color: green;
                padding-inline: 5px;
            }

            .indicator-icon-decrease{
                color: red;
                padding-inline: 5px;
            }


        }
    }

    .featured-info-subtitle{
        color: grey;
    }
}