.sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    width: 300px;
    height: calc(100vh - 60px);
    background:linear-gradient(transparent,  rgba(89, 0, 255, 0.068));

    
    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb{
        background-color: rgba(128, 128, 128, 0.336);
        border-radius: 10px;
    }
    .sidebar-container{
        height: 100%;
        overflow-y: scroll;
        
        color: grey;
        
        padding-inline: 20px;
            .menu-section-title{
                color: grey;
                padding-top: 20px;
                display: flex;
            }
    }
}