.menu-item{
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 10px;
    margin-block: 5px;
    cursor: pointer;

    &:hover{
        background-color: rgba(89, 0, 255, 0.164);
    }
    .menu-item-icon{
        font-size: 25px;
        padding-right: 5px;
        color: black;
    }
}